html, body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    scrollbar-width: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
}

hr {
    clear: both;
    display: block;
    width: 98%;
    background-color:#CCC;
    height: 1px;
}

#icon_sk {
    width: 80px;
}

.container {
    max-width: 800px;
    margin: 0 16px;
}

.primary-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    display: flex;
    flex-direction: row;
}

.primary-navigation > p {
    background: lavender;
}
.primary-navigation > a {
    text-decoration: none;
    color: #06f;
}

.primary-navigation > a:hover {
    background: lavender;
}

.primary-navigation > a[href="#"] {
    /* color: gray; */
    cursor: not-allowed;
}

.primary-navigation > * {
    padding: 8px;
}

/* footer {
    background-image: url("mahdi-soheili-3wxiKqC9KSA-unsplash.jpg");
} */

#news {
    max-height: 200px;
    overflow-y: scroll;
}